.movie-item {
  font-size: 0.9rem;  
  color: #212529;
  transition: transform 0.3s ease-in-out;
  max-width: 360px;
  
}

.movie-item:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}